*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row .col1{
    width: 20%
}
.row .col2{
    width: 50%
}
.row .col3{
    width: 30%
}
.row .col-sm-2 i{
    font-size: 18px;
}
.row .col-sm-9 .icon{
    color: #2c91d9;
    font-size: 20px;
    padding-left: 20px;
}
.col3 input{
    position: relative;
    width: 100%;
    border: 0;
    background-color: #e7ecf0;
    height: 60px;
    padding-left: 40px;
    border-radius: 30px;
}
.col3 .icon{
    position: absolute;
    top: 32px;
    right: 328px;
    font-size: 20px;
    z-index: 5;
    color: #748491;
}